.block_programming_standing .footer .more {
    text-align: center;
}

.block_programming_standing .content .generaltable {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#page-blocks-programming_standing-full_standing .region-content h2 {
    text-align: center;
}

#page-blocks-programming_standing-full_standing #programming-standing-full-standing .cell {
    text-align: center;
}
